#container{
    background-color: pink;
    border-radius: 30px;
    padding-top: 20px;
    height: 900px;
}

.navbar{
    display: flex;
    justify-content: space-around;
}
#baims{
    margin-left: 15px;
}
#courses{
    display: flex;
    gap: 150px;
}
.apply{
    display: flex;
    gap: 150px;
    font-size: 20px;
}
#sign-up{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: 1px solid black;
    text-align: center;
    width: 150px;
    height: 40px;
    
}
#search-for-anything{
    border-radius: 25px;
    background-color: pink;
    color: black;
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    height: 30px;
       
}
.study-text{
    font-size: 35px;
}
#what-to-learn{
    border-radius: 25px;
    background-color: pink;
    color: black;
    border: 1px solid black;
    padding: 20px;
    width: 250px;
    height: 10px;

    /* margin-top: 5%; */
}
#study-message{
    font-size: 2em;
}
.about-studies{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: 4.3%;
    height: 300px;
}
.studies{
    gap: 250px;
}
.values{
    font-size: 3em;
}
.value-texts{
    font-size: 1.5em;
}
.learning-anime{
    width: 350px;
    height: 350px;
    border-radius: 20px;
}
.btn{
    width: 20px;
    height: 20px;
}
.baims-data{
    font-size: 15px;
}
 
@media screen and (min-width: 375px) and (max-width: 667px){
    #container{
        background-color: pink;
        border-radius: 30px;
        padding-top: 20px;
        height: 540px;
        width: 360px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        justify-content: space-around;
        margin-left: 4%;
        gap: -90px;
    }
    #baims{
        margin-left: 7px;
        font-size: 15px;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
    }
    .apply{
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        gap: 1px;
        font-size: 12px;
    }
    #sign-up{
        background-color: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        width: 130px;
        height: 30px;
        margin-left: 4%;
        
    }
    #search-for-anything{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 13px;
        width: 180px;
        height: 1px;
           
    }
    .study-text{
        font-size: 10px;
        padding-left: 10px;

    }
    #what-to-learn{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 8px;
        width: 200px;
        height: 15px;
        margin-left: 2%;
    }
    #study-message{
        font-size: 13px;
        padding-left: 10px;
        
    }
    .about-studies{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1px;
        padding-bottom: 50px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: -9%;
        height: 10px;
    }
    .studies{
        gap: 250px;
    }
    .values{
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }
    .value-texts{
        font-size: 10px;
        padding-top: -100px;
    }
    .learning-anime{
        width: 150px;
        height: 150px;
        border-radius: 20px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .btn{
        width: 20px;
        height: 20px;
    }
 
    .baims-data{
        font-size: 5px;
        padding-top: -20px;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 414px) and (max-width: 896px){
    #container{
        background-color: pink;
        border-radius: 30px;
        padding-top: 20px;
        height: 705px;
        width: 410px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-around;
        margin-left: 4%;
        gap: -90px;
    }
    #baims{
        margin-left: 7px;
        font-size: 15px;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
    }
    .apply{
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        gap: 1px;
        font-size: 12px;
    }
    #sign-up{
        background-color: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        width: 130px;
        height: 30px;
        margin-left: 4%;
        
    }
    #search-for-anything{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 13px;
        width: 180px;
        height: 1px;
           
    }
    .study-text{
        font-size: 15px;
        padding-left: 10px;

    }
    #what-to-learn{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 8px;
        width: 200px;
        height: 15px;
        margin-left: 2%;
    }
    #study-message{
        font-size: 15px;
        padding-left: 10px;
        
    }
    .about-studies{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1px;
        padding-bottom: 50px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: -7%;
        height: 10px;
    }
    .studies{
        gap: 250px;
    }
    .values{
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }
    .value-texts{
        font-size: 15px;
        padding-top: -100px;
    }
    .learning-anime{
        width: 200px;
        height: 200px;
        border-radius: 20px;
        padding-top: 50px;
        padding-left: 10px;
    }
    .btn{
        width: 20px;
        height: 20px;
    }
 
    .baims-data{
        font-size: 5px;
        padding-top: -20px;
        display: flex;
        flex-direction: column;
    }
 
}
@media screen and (min-width: 390px) and (max-width: 844px){
    #container{
        background-color: pink;
        border-radius: 30px;
        padding-top: 20px;
        height: 705px;
        width: 375px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-around;
        margin-left: 4%;
        gap: -90px;
    }
    #baims{
        margin-left: 7px;
        font-size: 15px;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
    }
    .apply{
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        gap: 1px;
        font-size: 12px;
    }
    #sign-up{
        background-color: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        width: 130px;
        height: 30px;
        margin-left: 4%;
        
    }
    #search-for-anything{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 13px;
        width: 180px;
        height: 1px;
           
    }
    .study-text{
        font-size: 15px;
        padding-left: 10px;

    }
    #what-to-learn{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 8px;
        width: 200px;
        height: 15px;
        margin-left: 2%;
    }
    #study-message{
        font-size: 15px;
        padding-left: 10px;
        
    }
    .about-studies{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1px;
        padding-bottom: 50px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: -7%;
        height: 10px;
    }
    .studies{
        gap: 250px;
    }
    .values{
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }
    .value-texts{
        font-size: 15px;
        padding-top: -100px;
    }
    .learning-anime{
        width: 200px;
        height: 200px;
        border-radius: 20px;
        padding-top: 50px;
        padding-left: 10px;
    }
    .btn{
        width: 20px;
        height: 20px;
    }
 
    .baims-data{
        font-size: 5px;
        padding-top: -20px;
        display: flex;
        flex-direction: column;
    }
}


@media screen and (min-width: 360px) and (max-width: 740px){
    #container{
        background-color: pink;
        border-radius: 30px;
        padding-top: 1px;
        height: 645px;
        width: 345px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-around;
        margin-left: 4%;
        gap: -90px;
    }
    #baims{
        margin-left: 7px;
        font-size: 15px;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
    }
    .apply{
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        gap: 1px;
        font-size: 12px;
    }
    #sign-up{
        background-color: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        width: 130px;
        height: 30px;
        margin-left: 4%;
        
    }
    #search-for-anything{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 13px;
        width: 180px;
        height: 1px;
           
    }
    .study-text{
        font-size: 15px;
        padding-left: 10px;

    }
    #what-to-learn{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 8px;
        width: 200px;
        height: 15px;
        margin-left: 2%;
    }
    #study-message{
        font-size: 15px;
        padding-left: 10px;
        
    }
    .about-studies{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1px;
        padding-bottom: 50px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: -10%;
        height: 10px;
    }
    .studies{
        gap: 250px;
    }
    .values{
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
    .value-texts{
        font-size: 10px;
        padding-top: -100px;
    }
    .learning-anime{
        width: 200px;
        height: 200px;
        border-radius: 20px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .btn{
        width: 20px;
        height: 20px;
    }
 
    .baims-data{
        font-size: 5px;
        padding-top: -20px;
        display: flex;
        flex-direction: column;
    }
}


@media screen and (min-width: 412px) and (max-width: 915px){
    #container{
        background-color: pink;
        border-radius: 30px;
        padding-top: 20px;
        height: 705px;
        width: 395px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-around;
        margin-left: 4%;
        gap: -90px;
    }
    #baims{
        margin-left: 7px;
        font-size: 15px;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
    }
    .apply{
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        gap: 1px;
        font-size: 12px;
    }
    #sign-up{
        background-color: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        width: 130px;
        height: 30px;
        margin-left: 4%;
        
    }
    #search-for-anything{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 13px;
        width: 180px;
        height: 1px;
           
    }
    .study-text{
        font-size: 15px;
        padding-left: 10px;

    }
    #what-to-learn{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 8px;
        width: 200px;
        height: 15px;
        margin-left: 2%;
    }
    #study-message{
        font-size: 15px;
        padding-left: 10px;
        
    }
    .about-studies{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1px;
        padding-bottom: 50px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: 1%;
        height: 5px;
    }
    .studies{
        gap: 250px;
    }
    .values{
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }
    .value-texts{
        font-size: 15px;
        padding-top: -100px;
    }
    .learning-anime{
        width: 200px;
        height: 200px;
        border-radius: 20px;
        padding-top: 50px;
        padding-left: 10px;
    }
    .btn{
        width: 20px;
        height: 20px;
    }
 
    .baims-data{
        font-size: 5px;
        padding-top: -20px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 820px) and (max-width: 1180px){
    #container{
        background-color: pink;
        border-radius: 30px;
        padding-top: 20px;
        height: 900px;
        width: 800px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        justify-content: space-around;
        margin-left: 4%;
        gap: -90px;
    }
    #baims{
        margin-left: 7px;
        font-size: 15px;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
        padding-left: 120px;

    }
    .apply{
        display: flex;
        flex-wrap: wrap;
        padding-left: 120px;
        flex-direction: column;
        gap: 1px;
        font-size: 17px;
    }
    #sign-up{
        background-color: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        width: 130px;
        height: 30px;
        margin-left: 4%;
        margin-left: 110px;

        
    }
    #search-for-anything{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 13px;
        width: 180px;
        height: 1px;
           
    }
    .study-text{
        font-size: 20px;
        padding-left: 10px;

    }
    #what-to-learn{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 8px;
        width: 200px;
        height: 15px;
        margin-left: 2%;
    }
    #study-message{
        font-size: 20px;
        padding-left: 10px;
        
    }
    .about-studies{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1px;
        padding-bottom: 50px;
        
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: 10%;
        height: 150px;
    }
    .studies{
        gap: 250px;
        padding-left: 130px;

    }
    .values{
        font-size: 25px;
        display: flex;
        flex-direction: column;
    }
    .value-texts{
        font-size: 20px;
        padding-top: -100px;
        
    }
    .learning-anime{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        padding-top: 50px;
        padding-left: 130px;
    }
    .btn{
        width: 20px;
        height: 20px;
    }
 
    .baims-data{
        font-size: 5px;
        padding-top: -20px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    #container{
        background-color: pink;
        border-radius: 30px;
        padding-top: 20px;
        height: 870px;
        width: 750px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        justify-content: space-around;
        margin-left: 4%;
        gap: -90px;
    }
    #baims{
        margin-left: 7px;
        font-size: 15px;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
        padding-left: 120px;

    }
    .apply{
        display: flex;
        flex-wrap: wrap;
        padding-left: 120px;
        flex-direction: column;
        gap: 1px;
        font-size: 17px;
    }
    #sign-up{
        background-color: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        width: 130px;
        height: 30px;
        margin-left: 4%;
        margin-left: 110px;

        
    }
    #search-for-anything{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 13px;
        width: 180px;
        height: 1px;
           
    }
    .study-text{
        font-size: 20px;
        padding-left: 10px;

    }
    #what-to-learn{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 8px;
        width: 200px;
        height: 15px;
        margin-left: 2%;
    }
    #study-message{
        font-size: 20px;
        padding-left: 10px;
        
    }
    .about-studies{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1px;
        padding-bottom: 50px;
        
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: -5%;
        height: 1px;
    }
    .studies{
        gap: 250px;
        padding-left: 130px;

    }
    .values{
        font-size: 25px;
        display: flex;
        flex-direction: column;
    }
    .value-texts{
        font-size: 20px;
        padding-top: -100px;
        
    }
    .learning-anime{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        padding-top: 50px;
        padding-left: 130px;
    }
    .btn{
        width: 20px;
        height: 20px;
    }
 
    .baims-data{
        font-size: 5px;
        padding-top: -20px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 912px) and (max-width: 1368px){
    #container{
        background-color: pink;
        border-radius: 30px;
        padding-top: 20px;
        height: 1100px;
        width: 890px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: 25px;
        justify-content: space-around;
        margin-left: 4%;
        gap: -90px;
    }
    #baims{
        margin-left: 7px;
        font-size: 15px;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
        padding-left: 120px;

    }
    .apply{
        display: flex;
        flex-wrap: wrap;
        padding-left: 120px;
        flex-direction: column;
        gap: 1px;
        font-size: 21px;
    }
    #sign-up{
        background-color: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        width: 130px;
        height: 30px;
        margin-left: 4%;
        margin-left: 110px;

        
    }
    #search-for-anything{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 13px;
        width: 180px;
        height: 1px;
           
    }
    .study-text{
        font-size: 25px;
        padding-left: 10px;

    }
    #what-to-learn{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 8px;
        width: 200px;
        height: 15px;
        margin-left: 2%;
    }
    #study-message{
        font-size: 25px;
        padding-left: 10px;
        
    }
    .about-studies{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1px;
        padding-bottom: 50px;
        
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: 10%;
        height: 10px;
    }
    .studies{
        gap: 250px;
        padding-left: 130px;

    }
    .values{
        font-size: 35px;
        display: flex;
        flex-direction: column;
    }
    .value-texts{
        font-size: 30px;
        padding-top: -100px;
        
    }
    .learning-anime{
        width: 350px;
        height: 350px;
        border-radius: 20px;
        padding-top: 70px;
        padding-left: 130px;
    }
    .btn{
        width: 20px;
        height: 20px;
    }
 
    .baims-data{
        font-size: 10px;
        padding-top: -20px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 540px) and (max-width: 720px){
    #container{
        background-color: pink;
        border-radius: 30px;
        padding-top: 20px;
        height: 600px;
        width: 520px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-around;
        /* margin-left: 4%; */
        gap: -90px;
    }
    #baims{
        margin-left: 7px;
        font-size: 10px;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
        /* padding-left: 120px; */

    }
    .apply{
        display: flex;
        flex-wrap: wrap;
        /* padding-left: 120px; */
        flex-direction: column;
        gap: 1px;
        font-size: 12px;
    }
    #sign-up{
        background-color: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        width: 130px;
        height: 30px;
        /* margin-left: 4%; */
        /* margin-left: 110px; */

        
    }
    #search-for-anything{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 13px;
        width: 180px;
        height: 1px;
           
    }
    .study-text{
        font-size: 15px;
        /* padding-left: 10px; */

    }
    #what-to-learn{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 8px;
        width: 200px;
        height: 15px;
        /* margin-left: 2%; */
    }
    #study-message{
        font-size: 15px;
        /* padding-left: 10px; */
        
    }
    .about-studies{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1px;
        padding-bottom: 50px;
        
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: -10%;
        height: 10px;
    }
    .studies{
        gap: 250px;
        /* padding-left: 130px; */

    }
    .values{
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }
    .value-texts{
        font-size: 15px;
        padding-top: -100px;
        
    }
    .learning-anime{
        width: 200px;
        height: 200px;
        border-radius: 20px;
        padding-top: 5px;
        /* padding-left: 130px; */
    }
    .btn{
        width: 20px;
        height: 20px;
    }
 
    .baims-data{
        font-size: 5px;
        padding-top: -20px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 280px) and (max-width: 653px){
    #container{
        background-color: pink;
        border-radius: 30px;
        padding-top: 20px;
        height: 500px;
        width: 260px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        justify-content: space-around;
        margin-left: 4%;
        gap: -90px;
    }
    #baims{
        margin-left: 7px;
        font-size: 5px;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
        /* padding-left: 120px; */

    }
    .apply{
        display: flex;
        flex-wrap: wrap;
        /* padding-left: 120px; */
        flex-direction: column;
        gap: 1px;
        font-size: 12px;
    }
    #sign-up{
        background-color: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        text-align: center;
        width: 130px;
        height: 30px;
        /* margin-left: 1%; */
        /* margin-left: 110px; */

        
    }
    #search-for-anything{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 13px;
        width: 180px;
        height: 1px;
           
    }
    .study-text{
        font-size: 10px;
        padding-left: 10px;

    }
    #what-to-learn{
        border-radius: 25px;
        background-color: pink;
        color: black;
        border: 1px solid black;
        padding: 8px;
        width: 200px;
        height: 15px;
        margin-left: 2%;
    }
    #study-message{
        font-size: 10px;
        padding-left: 10px;
        
    }
    .about-studies{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1px;
        padding-bottom: 50px;
        
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: -15%;
        height: 10px;
    }
    .studies{
        gap: 250px;
        padding-left: 10px;

    }
    .values{
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
    .value-texts{
        font-size: 10px;
        padding-top: -100px;
        
    }
    .learning-anime{
        width: 150px;
        height: 150px;
        border-radius: 20px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .btn{
        width: 20px;
        height: 20px;
    }
 
    .baims-data{
        font-size: 5px;
        padding-top: -20px;
        display: flex;
        flex-direction: column;
    }
}